@use "../global/variables" as var;

.footer {
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    max-width: var.$desktop-mid-width;
    margin: 0 auto;
    padding: 10px 100px;

    font-size: 18px;
    text-align: center;

    @media (max-width: var.$desktop-mid-width) {
      padding: 10px 80px;

      font-size: 16px;
    }
    @media (max-width: var.$tablet-max-width) {
      padding: 10px 40px;

      font-size: 14px;
    }
    @media (max-width: var.$mobile-max-width) {
      gap: 20px;
      padding: 10px 20px;

      font-size: 12px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__info-icon {
    width: 30px;
    height: 30px;
    fill: var.$colorWhite;
  }
}
